<!DOCTYPE html>
 <html>
  <head>
   <title>Produit de {{var1}} par {{var2}} </title>
  </head>
  <body>
  <h1>Attention : les opérandes sont en base 16, le résultat est en base 10</h1>
  <h2>Le produit de {{var1}} par {{var2}} est {{resultat}} </h2>
  </body>
 </html>
